@charset "UTF- 8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right,#D8D9D9, #D3C8B2);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #ada492;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #032F40;
    text-align: center;
    text-shadow: 1px 1px 2px #021f2b9a ; /* o Primeiro px significa quanto a sonbra vai  deslocar para lado, o segundo e quanto a sonbra vai se desloca  para baixo o terceiro e quanto essa sonbra vai se espalhar e o quato e a cor  cor */
}
h2{
    color: #4F96C2;
}
p{
    text-align: justify;
    
}